body {
  background-color: rgb(178,34,34);
  font-family: "Raleway";
}


#title {
  text-align: center;
  font-family: "Playfair Display";
}

ul {
  list-style: none;
}

li {
  margin-top: 8px;
  text-align: center;
}

#submit-form,
input,
p,
h4 {
  text-align: center;
}

#submit-form {
  margin-top: 25px;
  margin-bottom: 30px;
}

p {
  margin-top: 8px;
}

.delete-burger,
.change-devour-status {
  margin-left: 10px;
  margin-top: 2px;
}

input {
  width: 350px;
}

#instructions {
  font-size: 25px;
}

#img-container {
  border: 1px solid black;
  border-radius: 8px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
img {
  border-radius: 8px;
}

h5 {
  margin-top: 20px;
  margin-bottom: 2px;
}

#devoured-div {
  color: darkgrey;
}

