<li>
	{{burger_name}}

	<button class="change-devour-status" data-id="{{id}}" data-newdevour="{{devour}}">
		{{#if devoured}}DEVOUR IT!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
